
.dpp-box {
    fill: var(--color-box);
    transition: all var(--transition);
    font-weight: 600;

    &.is-clickable:hover,
    &.is-selected {
        fill: var(--color-box--selected);
    }

    &--obstacle {
        fill: var(--color-box--obstacle);
        color: var(--color-box--taken);
    }

    &.is-taken {
        fill: var(--color-box--taken);
    }

    text {
        fill: var(--color-text);
        text-anchor: middle;
    }

    &__icon {
        fill: var(--color-box--taken);
    }
}