.dpp-boxCollection {
    
    &__ground {
        fill: var(--color-contrast);
        opacity: 0;
        cursor: pointer;
        transition: opacity var(--transition);
    }

    &__border {
        stroke: var(--color-line);
        stroke-dasharray: 3;
        transition: opacity var(--transition);
    }

    &__text {
        transition: fill var(--transition);
    }

    &:hover > .dpp-boxCollection__ground,
    &:hover > .dpp-boxCollection__border {
        opacity: 1;
    }

    &:hover > .dpp-boxCollection__ground + .dpp-boxCollection__text  {
        fill: var(--color-text);
    }
}
