
.dpp-alert {
    padding: var(--gutter);
    background: var(--alert-color-background);
    color: var(--color-text);
    text-align: center;
}

.dpp-alert__text {
    font-weight: 600;
    line-height: 1.85;
}