:root {
    --badge-size: 2em;
    --badge-size--large: 2.3em;
    --badge-padding: 0.3em;
}

.dpp-badge {
    padding: var(--badge-padding);
    background: var(--color-box);
    display: inline-block;
    vertical-align: middle;
    min-width: var(--badge-size);
    min-height: var(--badge-size);
    line-height: calc(var(--badge-size) - 2 * var(--badge-padding));
    text-align: center;
    
    &--left {
        margin-right: 0.5em;
    }

    &--large {
        min-width: var(--badge-size--large);
        min-height: var(--badge-size--large);
        line-height: calc(var(--badge-size--large) - 2 * var(--badge-padding));
    }

    &--selected {
        background: var(--color-box--selected);
    }

    &--taken {
        background: var(--color-box--taken);
    }

    &--related {
        background: var(--color-box--related);
    }

    &--obstacle {
        background: var(--color-box--obstacle);
        fill: var(--color-box--taken);
    }
}

.dpp-badge__icon {
    display: block;
    width: calc(var(--badge-size) - 2 * var(--badge-padding));
    height: calc(var(--badge-size) - 2 * var(--badge-padding));

    .dpp-badge--large & {
        width: calc(var(--badge-size--large) - 2 * var(--badge-padding));
        height: calc(var(--badge-size--large) - 2 * var(--badge-padding));
    }
}