
.dpp-btn,
.dpp-btnLink {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border: none;
    margin: calc(var(--gutter) / 2) 0;
}

.dpp-btn {
    display: inline-block;
	padding: 0.5em 0.75em;
    font-size: 1.2em;
    line-height: 1;
    border-radius: 0.25em;
    border: none;
    text-transform: uppercase;
    background: var(--color-neutral);
    color: var(--color-text--contrast);
    transition: all var(--transition);

    &:hover {
         background: var(--color-background);
    }
    
    &--confirm {
         background: var(--color-confirmation);
         color: var(--color-text--contrast);

         &:hover {
             background: color(var(--color-confirmation) blackness(25%));
         }
    }
    
    &--block {
        width: 100%;
        display: block;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

.dpp-btnLink {
    background: none;
    color: var(--color-text);
    text-align: left;
    display: block;

    &:focus {
        outline: none;
    }

    &:hover,
    &:active {
        text-decoration: underline;
    }

    &--contrast {
        color: var(--color-text--contrast);
    }
}