.dpp-column {
    height: 100%;
    transform: translateX(-var(--column--panel-width));

    .is-panel-open & {
        transform: translateX(0);
    }

    &--panel {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: var(--column--panel-width);
        background-color: var(--column--panel-color-background);
        overflow: auto;
    }

    &--main {
        position: relative;
        width: 100%;
    }

    &--shifted {
        padding-top: calc(5 * var(--gutter));
    }

    &__section {
        flex-shrink: 0;
        color: var(--color-text--contrast);
        padding: var(--column--panel-gutter) 0;
        text-align: left;
        background: none;
        border: none;
        margin: 0;
        outline: 0;

        &--withGutter {
            padding-left: var(--column--panel-gutter);
            padding-right: var(--column--panel-gutter);
        }

        &.is-clickable {

            &:hover {
                background-color: color(var(--color-primary) a(20%));
            }
        }
    }
}