.dpp-pitch {
    fill: none;
    stroke-width: 2;
    stroke: var(--color-line);

    &--preview {
        stroke-width: 9;
    }
}

.dpp-pitch__ground {

    .dpp-pitch--preview & {
        fill: var(--color-pitch);
    }

    .dpp-pitch--preview &:hover {
        fill: var(--color-pitch--dark);
    }
}