:root {
    --preview-width: calc(var(--column--panel-width) - 2 * var(--column--panel-gutter));
    --preview-ratio: 0.64;
}


.dpp-preview {
    cursor: pointer;
    width: var(--preview-width);
    height: calc(var(--preview-width) * var(--preview-ratio));
    margin-bottom: var(--gutter);

    > svg {
        overflow: visible;
    }
}

.dpp-preview__box {
    fill: color(var(--color-primary) a(20%));

    &.is-active {
        fill: var(--color-contrast);
    }

    &:not(.is-active):hover {
         fill: color(var(--color-primary) a(60%));
    }
}