:root {
    --font: "Open sans","Helvetica","Arial", sans-serif;
    --font-size: 0.75vw;
    --font-size-min: 13px;
    @custom-media --font-size-min-breakpoint-width (max-width: 1300px);
    @custom-media --font-size-min-breakpoint-height (max-height: 640px);

    --gutter: 1em;
    --transition: 0.4s ease-in-out;

    --color-primary: #122031;
    --color-secondary: #343F56;
    --color-dark: #000;
    --color-contrast: #fff;
    --color-neutral: #C5CAD2;
    --color-pitch: #2C793A;
    --color-pitch--dark: #126821;

    --color-background: var(--color-primary);
    --color-text: var(--color-dark);
    --color-text--contrast: var(--color-contrast);
    --color-line: var(--color-contrast);
    --color-box: #8EC62C;
    --color-box--selected: #F09316;
    --color-box--taken: #CE2C23;
    --color-box--related: #0087E6;
    --color-box--obstacle: #fff;
    --color-confirmation: #8EC62C;

    --column--panel-width: 17em;
    --column--panel-gutter: calc(2 * var(--gutter));
    --column--panel-color-background: var(--color-secondary);

    --alert-color-background: var(--color-contrast);
  
}