html, body {
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: 1.1;
    
    @media (--font-size-min-breakpoint-width) {
        font-size: var(--font-size-min);
    }

     @media (--font-size-min-breakpoint-height) {
         font-size: 2vh;
    }
}

ul, ol, p {
    font-size: inherit;
    line-height: inherit;
}
