
.mdl {
    @import "./material.min.css";

    .mdl-layout__drawer-button {
        left: auto;
        right: 0;
    }

    .mdl-list__item {
        padding-bottom: 0;
        padding-top: 0;
    }

    .mdl-menu__item {
        height: auto;
        line-height: 1.75;
    }

    .mdl-progress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%)
    }

    .mdl-select {
        width: 100%;
        background: none;
        padding: 5px 0;
        border: 0;
        border-bottom: 1px solid rgba(0,0,0,.12);
        margin: 10px 0 20px;
    }

    .mdl-entranceForm {
        display: block;
    }

    .mdl-obstacleForm {
        display: block;

        &__content {
            margin: 5px 0;
        }

        &__textfield {
            display: flex;
        }

        &__icon {
            width: 18px;
            height: 18px;
        }
    }
}